<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737792334349-qeadje2231rg3g49s78vo7mh8rsq613j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737792334349-qeadje2231rg3g49s78vo7mh8rsq613j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737792334349-cksg1icpnhpig903j1jku3o6jrk8mtcr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA3i22YaSAwbbcmH9bMkoB2_wunLUhPpU</string>
	<key>GCM_SENDER_ID</key>
	<string>737792334349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nutrium</string>
	<key>PROJECT_ID</key>
	<string>nutrium-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrium-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737792334349:ios:3f6bbeb5c6fb3475411344</string>
</dict>
</plist>